<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>Select Date</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="callendar" >
  <ion-datetime
    [value]="selectedDate.toISOString()"
    (ionChange)="onDateChange($event)"
    presentation="date"
  ></ion-datetime>
  </div>  
</ion-content>
