<!-- src/app/pages/printer-list/printer-list.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>Printer List</ion-title>
    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Sorting Options -->
  <div class="sorting-options">
    <ion-segment [(ngModel)]="sortCriteria" (ionChange)="onSortCriteriaChange()">
      <ion-segment-button value="id">
        <ion-label>ID</ion-label>
      </ion-segment-button>
      <ion-segment-button value="type">
        <ion-label>Type</ion-label>
      </ion-segment-button>
      <ion-segment-button value="date">
        <ion-label>Date</ion-label>
      </ion-segment-button>
    </ion-segment>    
  </div>

  <ion-list>
    <ion-item-sliding *ngFor="let item of printersWithMaintenance$ | async; trackBy: trackByPrinterId">
      <ion-item [routerLink]="['/printer-detail', item.printer.id]">
        <ion-thumbnail slot="start">
          <img [src]="item.printer.imageUrl || 'assets/default-printer.png'" alt="{{ item.printer.type }}" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ item.printer.type }} #{{ item.printer.id }}</h2>
          <p>Commissioned on: {{ item.printer.commissioningDate | date: 'dd/MM/yyyy' }}</p>
        </ion-label>
        <!-- Maintenance Notification Badge -->
        <ion-badge *ngIf="item.upcomingMaintenance" color="warning" slot="end">
          Maintenance on {{ item.upcomingMaintenance.date | date: 'dd/MM/yyyy' }}
        </ion-badge>
      </ion-item>
      <!-- Sliding Options -->
      <ion-item-options side="end">
        <ion-item-option color="danger" *ngIf="item.upcomingMaintenance" (click)="deleteMaintenance(item.upcomingMaintenance.id)">
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
